backports.ssl-match-hostname==3.4.0.2
blessings==1.6
bpython==0.14.2
certifi==2015.11.20.1
click==6.6
curtsies==0.1.19
decorator==4.0.4
et-xmlfile==1.0.1
Flask==0.11
Flask-SQLAlchemy==2.2
greenlet==0.4.7
gunicorn==19.6.0
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
logutils==0.3.3
MarkupSafe==0.23
openpyxl==2.3.2
Pillow==3.1.0
praw==4.5.1
prawcore==0.10.1
psycopg2==2.7.1
Pygments==2.0.2
pyodbc==3.0.10
pyvertica==1.6.1
requests==2.10.0
selenium==3.0.2
SimpleConfigParser==0.1.0
six==1.10.0
SQLAlchemy==1.1.9
taskthread==1.4
tornado==4.2
update-checker==0.16
virtualenv==13.1.2
Werkzeug==0.11.10
xlrd==0.9.4
xlsxwriter==0.8.4
xlwt==1.0.0
